<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB 성능 테스트</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <section id="main-container" class="bg-white">
        <h1 class="emp-text">DB 성능 테스트</h1>
        <img src="/main-img.svg" alt="main-img">
        <span>실행 시작 버튼을 누르면 DataBase에서<br />하나의 프로시저를 실행할 때 걸리는 시간을 알 수 있습니다.</span>
        <button class="bg-white">
            <span class="emp-text">실행 시작</span>
        </button>
    </section>
</body>

</html>